title {color:red
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #00ffff;
    color: #000;
  }

header {
    text-align: center;
    padding: 5px;
    background-color: #00ffff;
    color: #000;
  }
